<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>SkyTech Teaching</title>

</head>
<body>
    <div class="container">
        <div class="rol">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="gezhicloud.jpg">
                </a>
            </div>

            <ol class="breadcrumb">
                <li class="col-md-offset-4">
                    <a href="#">
                        <span class="glyphicon glyphicon-arrow-up"></span> 注册
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span> 登录
                    </a>
                </li>
                <li class="active">
                        <span class="glyphicon glyphicon-user"></span> 我的课程
                </li>
                <li class="active">
                        <span class="glyphicon glyphicon-heart"></span> 云学VIP
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-tower"></span> 企业入驻
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="	glyphicon glyphicon-phone"></span> 手机客户端
                    </a>
                </li>
            </ol>
        </div>
        <div class="row">
            <div class="container">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="机器学习">
                </div>
                <button type="submit" class="btn btn-default">GO!</button>
            </form>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">课程列表</div>
                    <ul class="list-group">

                        <li class="list-group-item">幼儿教育<span class="caret"></span></li>
                        <li class="list-group-item">小学课程<span class="caret"></span></li>
                        <li class="list-group-item">初中课程<span class="caret"></span></li>
                        <li class="list-group-item">高中课程<span class="caret"></span></li>
                        <li class="list-group-item">大学课程<span class="caret"></span></li>
                        <li class="list-group-item">成人教育<span class="caret"></span></li>
                        <li class="list-group-item">公开课<span class="caret"></span></li>
                        <li class="list-group-item">生活课堂<span class="caret"></span></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-7">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapseOne">
                                    <h3>您可能感兴趣的课程</h3>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c1.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c2.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c3.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapseTwo">
                                    <h3>热门课程</h3>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c4.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c5.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c6.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapseThree">
                                    <h3>数据科学</h3>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c7.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c8.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c9.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapseFour">
                                    <h3>商务</h3>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c10.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c11.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="thumbnail">
                                                <img src="c12.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            用户信息
                        </h4>
                    </div>
                    <div class="panel-body">
                        请登录/注册
                    </div>
                </div>

            </div>
        </div>

    </div>


        <div class="container">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <p class="col-md-offset-2">格物云学堂和思科Webex携手，致力于推出最为优质的在线直播课堂</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


</body>
</html>