<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>SkyTech Teaching</title>

</head>
<body>
    <div class="container">
        <div class="rol">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="cloud.jpg">
                </a>
            </div>
            <!--div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">幼儿</a>
                    </li>
                    <li>
                        <a href="#">小学</a>
                    </li>
                    <li>
                        <a href="#">职业培训</a>
                    </li>
                    <li>
                        <a href="#">老人大学</a>
                    </li>
                </ul>
            </div-->
            <!--div class="col-md-offset-6 col-md-2">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-log-in"></span> 登录
                </button>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-up"></span> 注册
                </button>
            </div-->
            <ol class="breadcrumb">
                <li class="col-md-offset-3">
                    <a href="#">
                        <span class="glyphicon glyphicon-arrow-up"></span> 注册
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span> 登录
                    </a>
                </li>
                <li class="active">
                        <span class="glyphicon glyphicon-user"></span> 我的课程
                </li>
                <li class="active">
                        <span class="glyphicon glyphicon-heart"></span> 云学VIP
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-tower"></span> 企业入驻
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="	glyphicon glyphicon-phone"></span> 手机客户端
                    </a>
                </li>
            </ol>
        </div>
        <div class="row">
            <div class="container">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="机器学习">
                </div>
                <button type="submit" class="btn btn-default">GO!</button>
            </form>
            </div>
                    <!--div class="container">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <div>
                                    <form class="navbar-form navbar-right" role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="机器学习">
                                        </div>
                                        <button type="submit" class="btn btn-default">GO!</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div-->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">课程列表</li>
                    <li class="list-group-item">幼儿教育<span class="caret"></span></li>
                    <li class="list-group-item">小学课程<span class="caret"></span></li>
                    <li class="list-group-item">初中课程<span class="caret"></span></li>
                    <li class="list-group-item">高中课程<span class="caret"></span></li>
                    <li class="list-group-item">大学课程<span class="caret"></span></li>
                    <li class="list-group-item">成人教育<span class="caret"></span></li>
                    <li class="list-group-item">讲座<span class="caret"></span></li>
                    <li class="list-group-item">生活课堂<span class="caret"></span></li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <h2>您可能感兴趣的课程</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="l1.jpg">
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="l2.jpg">
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="l3.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <h2>本周热门课程</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="v1.jpg">
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="v2.jpg">
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="thumbnail">
                                        <img src="v3.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Hot Course</h2>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            User information
                        </h4>
                    </div>
                    <div class="panel-body">
                        Please log in
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>